:root {
  --colour-one: rgba(53, 59, 72,1.0);       /* lighter background colour */
  --colour-two: rgba(47, 54, 64,1.0);       /* darker background colour */
  --colour-three: rgba(245, 246, 250,1.0);  /* text colour */
  --colour-four: rgba(0, 168, 255,1.0);     /* hover for links and buttons text */
  --colour-five: rgba(64, 115, 158,1.0);    /* info bar, img border pagnation item background colour */
  --colour-six: rgba(72, 126, 176,1.0);     /* hover on project and blog post */
  --colour-seven: rgba(127, 143, 166,1.0);  /* button background, muted colour for dates and stats values */
}

body {
  background-color: var(--colour-one);
}

.navbar-custom {
  background-color: var(--colour-two);
}

.content {
  color: var(--colour-three);
  background-color: var(--colour-two);
  padding-top: 0.5em;
}

.footer {
  border-top: 1px solid var(--colour-one);
  padding: 0.5em;
}

.about-text {
  font-size: 1.15em;
  display: block;
  padding-bottom: 0.25em;
}

.link {
  text-decoration: none !important;
  color: var(--colour-three) !important;
  transition: 0.3s;
}

.link:hover {
  color: var(--colour-four) !important;
}

.img-custom {
  border: 2px solid var(--colour-five);
}

.info-container {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.info-bar {
  padding: 0.5em;
  background-color: var(--colour-five);
  margin-bottom: 0px;
}

.info-content {
  background-color: var(--colour-one);
  padding: 1em;
}

.content-header {
  font-size: 2em;
  padding: 0.25em;
}

@media only screen and (max-width: 770px) {
  .content-header {
    font-size: 1.5em;
  }
}

.item-content {
  transition: 0.3s;
}

.item-content:hover {
  background-color: var(--colour-six);
  padding:1em;
}

@media only screen and (max-width: 770px) {
  .sm-hide {
    display: none;
  }
}

.item-title {
  font-weight: bold;
}

.item-dates {
  color: var(--colour-seven);
  font-size: 0.8em;
}
.item-dates span {
  padding-right: 0.75em;
}

.btn-custom {
  background-color: var(--colour-seven);
  font-weight: bold;
  color: var(--colour-three);
  transition: 0.3s;
}

.btn-custom:hover {
  color: var(--colour-four);
}

.pagnation-bar {
  width: 75%;
  margin: 0 auto;
  background-color: var(--colour-two);
}

@media only screen and (max-width: 770px) {
  .pagnation-bar {
    width: 100%;
  }
}

.pagnation-btn {
  background-color: var(--colour-five);
  height: 100%;
  padding: 0.25em;
}

.disabled {
  opacity: 25%;
}

.info-item {
  padding: 0.5em;
  transition: 0.3s;
}

.info-item:hover {
  background-color: var(--colour-two);
}

.info-value {
  color: var(--colour-seven) !important;
}