@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
   body {
       background-color: black;
       color: white;
   }
}

.anim-delay-400 {
   animation-delay: 400ms !important;
}

.anim-delay-800 {
   animation-delay: 800ms !important;
}

.anim-delay-1200 {
   animation-delay: 1200ms !important;
}

.anim-delay-1600 {
   animation-delay: 1600ms !important;
}

.anim-delay-2000 {
   animation-delay: 2000ms !important;
}

.anim-delay-2400 {
   animation-delay: 2400ms !important;
}

.anim-delay-2800 {
   animation-delay: 2800ms !important;
}

.fade-in {
   opacity: 0;
   animation: fadeInAnimation ease 1s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
   0% {
       opacity: 0;
   }

   100% {
       opacity: 1;
   }
}